OrderApp/Service References/OrderManagementServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrderService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrderService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderDataContract.OrderMasterDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDataContract.OrderMasterDataContract" nillable="true" type="tns:OrderDataContract.OrderMasterDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDataContract.OrderMasterDataContract" nillable="true" type="tns:ArrayOfOrderDataContract.OrderMasterDataContract" />
  <xs:complexType name="OrderDataContract.OrderMasterDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Table_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Waiter_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDataContract.OrderMasterDataContract" nillable="true" type="tns:OrderDataContract.OrderMasterDataContract" />
  <xs:complexType name="ArrayOfOrderDataContract.OrderDetailDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDataContract.OrderDetailDataContract" nillable="true" type="tns:OrderDataContract.OrderDetailDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDataContract.OrderDetailDataContract" nillable="true" type="tns:ArrayOfOrderDataContract.OrderDetailDataContract" />
  <xs:complexType name="OrderDataContract.OrderDetailDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Item_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_Detail_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QTY" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDataContract.OrderDetailDataContract" nillable="true" type="tns:OrderDataContract.OrderDetailDataContract" />
</xs:schema>