OrderApp/Service References/OrderManagementServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62871/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrderService" />
  <xs:element name="GetOrderMaster">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrderService" minOccurs="0" name="GetOrderMasterResult" nillable="true" type="q1:ArrayOfOrderDataContract.OrderMasterDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrderMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_No" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrderMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OrderService" minOccurs="0" name="SearchOrderMasterResult" nillable="true" type="q2:OrderDataContract.OrderMasterDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Order_No" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OrderService" minOccurs="0" name="OrderDetailsResult" nillable="true" type="q3:ArrayOfOrderDataContract.OrderDetailDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>